@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');

:root {
    --cor1:#282a2f;
    --cor2:#000;
    --cor3:#508484;
    --cor4:#79c99e;
    --cor5:#97db4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--cor1);
}

div#page-container {
    position: relative;
    height: 100vh;
}   

main {
    margin-top: 12rem;
}

section.container {
    background-color: #fff;

    width: 90vw;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2px;
    
    box-shadow: 0 0 2px #0000008e;
    
}

div.filter {
    display: flex;
    align-items: center;
    width: 100%;

    border-radius: 2px;
    overflow: hidden;

    background-color: #ccc;
}

div.filter span {
    width: 20%;
    text-align: center;  
    padding: 1rem;  
}

div.filter form {
    width: 80%;
}

div.filter input#iFilter {
    width: 100%;
    height: 5rem;

}

nav.pagination {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

button.pagination-button, button.pagination-number {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 1rem;
    font-weight: bold;
    border: 2px solid var(--cor5);
    width: 4rem;
    transition: all .2s ease-in-out;
}

button.pagination-button:hover, 
button.pagination-number:hover {
    cursor: pointer;
    background-color: var(--cor5);
    color: var(--cor2);
}

button.pagination-button.active, 
button.pagination-number.active {
    background-color: var(--cor5);
    color: var(--cor2);
    border-color: var(--cor2);
}

div.pagination-numbers {
    display: flex;
    gap: 1rem;
}


@media (min-width: 800px) {
    main {
        margin-top: 3rem;
    }

    section.container {
        max-width: 1000px;
    }
}