main {
    position: relative;
    top: 1rem;
}

main > section.features > h1 {
    transform: translateY(20%);
    color: var(--cor5);
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}

section.features-slider {
    display: flex;
    gap: 5rem;

    padding: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
    height: 70vh;

    overflow: scroll;
    scrollbar-width: none;
}

section.features-slider::-webkit-scrollbar {
    display: none;
}

section.features-slider a {
    height: 80%;
    width: 100%;
    max-width: 500px;

    color: #000;
    text-decoration: none;

    flex-shrink: 0;

    transition: all 0.3s ease-in-out;
}

article.blog-post {
    display: grid;
    grid-template-rows: 2fr 1fr;

    background-color: #fff;
    
    width: 100%;
    max-width: 500px;
    height: 100%;
    
    border: 2px solid var(--cor5);
    border-radius: 5px;
}

article.blog-post div.post-image {
    background-color: #000;
}

article.blog-post div.post-text {
    padding: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
} 

article.blog-post div.post-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
}


@media (min-width: 800px) {
    main {
        top: 0;
    }

    section.features-slider a:hover {
        transform: scale(1.02);
    }

    section.features-slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        height: 65vh;
        padding: 4rem 8rem;

        overflow: hidden;
    }

    article.blog-post {
        height: 100%;
    }

    main > section.features > button {
        display: none;
    }
}

