@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');

:root {
    --cor1:#121315;
    --cor2:#000;
    --cor3:#508484;
    --cor4:#79c99e;
    --cor5:#97db4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}