/* 
Mobile – 320px — 480px
Tablet – 481px — 768px
Laptop – 769px — 1024px
Desktop – 1025px — 1200px
TV – 1201px and more
*/

/* versão mobile */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor1:#2e3136;
    --cor2:#212426;
    --cor3:#508484;
    --cor4:#79c99e;
    --cor5:#97db4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

header {
    background-color: var(--cor2);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

div#logo {
    padding: 15px;
}

div#logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

div#header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
    
    margin: 0 auto;
    width: 100vw;
}

div#header-menu {
    display: none;
    transition: all .5s ease;
    padding: 5px;
}

form#search-form {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    border: 2px solid var(--cor5);
    border-radius: 2px;
}

form#search-form span {
    padding: 5px;
    color: var(--cor5);
}

.sign-create {
    padding: 4px;
    background-color: var(--cor5);
    font-weight: bold;
    color: var(--cor2);
    border: 1px solid var(--cor1); 
    border-left: none;
    border-right: none;
    width: 100%;
}

.sign-create:hover {
    cursor: pointer;
    border: 1px solid var(--cor5);
    background-color: var(--cor2);
    color: var(--cor5);
}

menu nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

menu nav ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

menu nav ul li {
    padding: 4px;
    border: 2px solid var(--cor5);
    border-radius: 2px;

    width: 100%;
    text-align: left;

    background-color: var(--cor2);
    color: var(--cor5);
}

menu nav ul li:hover {
    background-color: var(--cor5);
    color: var(--cor2);
    cursor: pointer;
}

menu nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}



span.material-symbols-outlined#menuButton {
    background-color: var(--cor2);
    border: 1px solid var(--cor5);
    border-radius: 2px;
    padding: 1px;
    color: var(--cor5);
}

span.material-symbols-outlined#menuButton:hover {
    background-color: var(--cor5);
    color: var(--cor2);
    cursor: pointer;
}

div#login-area {
    width: 100%;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
}